*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins', sans-serif;
}
.gal{
    padding-top: 20px;
}
h2{
    color: white;
    font-family: arial;
    text-align: center;
    font-size: 30pt;
    font-weight: lighter;
}
.home-btn{
    width: 100px;
    padding: 8px 0; 
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: #000;
    color: #fff;
    float: right;
}
.home-btn:hover{
    background: #fff;
    color: #000;
}
.container{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 50px 8%;
    
}
.gallery{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 30px;
}
.gallery img{
    width: 100%;
}

.footer{
    padding: 100px 20px;
    background-color: #9610fb;
    color: #fff;
}
.contain{
    display: flex;
    width: 100%;
    z-index: 100;
}
.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer hr{
    margin-top: 10px;
    background: #efefef;
}
.footer .copyright{
    text-align: center;
}