*{
    padding: 0;
    margin: 0;
}
.header1{
    height: 100%;
    background-image: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)),url(images/backgroundpic.jpg);
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    padding-top: 20px;
    text-align: center;
    color: #fff;
}
.header1 img{
    width: 200px;
    height: 150px;
    float: left;
    background: transparent;
}
.container{
    display: flex;
    width: 100%;
    z-index: 100;
}
.login-btn{
    width: 130px;
    height: 40px;
    padding: 8px 0;
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: transparent;
    color: #fff;
    float: right;
}
.login-btn:hover{
    background: #fff;
    color: #000;
}
.log-btn{
    margin-left: 350px;
}
.header1 h2{
    padding-top: 300px;
    padding-bottom: 0;
    font-size: 55px;
}
.header1 p{
    margin: 18px 0;
}
.input-group{
    width: 90%;
    max-width: 500px;
    border-radius: 30px;
    background: #fff;
    margin: auto;
    padding: 2px;
}
.form-control{
    border: 0 !important;
    border-radius: 30px 0 0 30px !important;
    margin: 2px;
    box-shadow: none !important;
}
.input-group-text{
    width: 100px;
    background-image: linear-gradient(#00ff7e,#1f3d90);
    border: 0 !important;
    color: #fff !important;
    padding: 0 25px !important;
    border-radius: 30px !important;
    box-shadow: none !important;
}
.nav-links{
    margin-left: 80px;
}
.nav-links li{
    list-style: none;
    display: inline-block;
    margin: 10px 20px;
}
.nav-links li a{
    text-decoration: none;
    color: #fff;
    padding: 5px 15px;
    border-radius: 20px;
    margin: 0 10px;
    font-weight: 600;
}
.nav-links li a:hover{
    background: #fff;
    color:#000;
}
.gallery{
    padding: 100px 0;
    background: #ddd4d4;
}
.gallery-box img{
    width: 30%;
    border-radius: 30px;
    cursor: pointer;
    transition: 1s;
    padding-top: 10px;
}
.gallery-box img:hover{
    transform: scale(1.1);
}
.gallery-box h4{
    padding-left: 500px;
    padding-top: 20pxS;
    display: block;
    color: #fff;
    text-shadow: -2px 2px 2px #000;
    font-weight: 600;
    position: absolute;
    
}
.gallery-box{
    position: relative;
    margin-bottom: 30px;
}
.heritage-info{
    text-align: center;
    box-shadow: 0 0 10px 0 rgba(19, 19, 129, 0.6);
    padding-bottom: 50px;
}
.heritage-info p{
    padding: 50px 10px 10px 10px;
}

.sec{
    position: relative;
    background: #273746  ;
    padding: 100px;
    color:#fff;
}
.sec h1{
    margin-bottom: 10px;
}
.sec p{
    font-weight: 300;
}
.gallery h1{
    font-family: Playfair Display;
    font-size: 55px;
    font-weight: 800;
}
.home-btn{
    width: 100px;
    padding: 8px 0; 
    outline: none !important;
    border: 2px solid #fff;
    border-radius: 50px;
    background: #000;
    color: #fff;
    float: right;
}
.home-btn:hover{
    background: #fff;
    color: #000;
}
.item{
    align-items: center;
}
.footer{
    padding: 100px 20px;
    background-color: #9610fb;
    color: #fff;
}
.footer-logo{
    width: 150px;
    margin-top: 15px;
    margin-bottom: 15px;
}
.footer h4{
    text-align: left;
    margin-top: 15px;
    margin-bottom: 25px;
}
.footer p{
    font-size: 12px;
    text-align: justify;
    padding-right: 35px;
}
.footer hr{
    margin-top: 10px;
    background: #efefef;
}
.footer .copyright{
    text-align: center;
}
.wrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 110vh;
    background: rgba(39,39,39,0.4);
}
.nav{
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 100px;
    line-height: 100px;
    background: linear-gradient(rgba(39,39,39,0.6), transparent);
    z-index: 100;
}
.nav-logo img{
    width: 200px;
    height: 150px;
    float: left;
    background: transparent;
}
.nav-button .navbtn{
    width: 130px;
    height: 40px;
    font-weight: 500;
    background: linear-gradient(255,255,255,0.4);
    border: none;
    border-radius: 30px;
    cursor: pointer;
    transition: .3s ease;
}
.navbtn:hover{
    background: rgba(255,255,255,0.3);
}
#registerBtn{
    margin-left: 15px;
}
.navbtn.white-btn{
    background: rgba(255,255,255,0.7);
}
.navbtn.navbtn.white-btn:hover{
    background: rgba(255,255,255,0.5);
}
.form-box{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 512px;
    height: 420px;
    overflow: hidden;
    z-index: 2;
}
.register-container{
    position: absolute;
    right: -520px;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.login-container{
    position: absolute;
    left: 4px;;
    width: 500px;
    display: flex;
    flex-direction: column;
    transition: .5s ease-in-out;
}
.top span{
    color: #fff;
    font-size: small;
    padding: 10px 0;
    display: flex;
    justify-content: center;
}
.top span a{
    font-weight: 500;
    color: #fff;
    margin-left: 5px;
}
header{
    color: #fff;
    font-size: 30px;
    text-align: center;
    padding: 10px 0 30px 0;
}
.two-forms{
    display: flex;
    gap: 10px;
}
.input-field{
    font-size: 15px;
    background: rgba(255,255,255,0.2);
    color: #fff;
    height: 50px;
    width: 100%;
    padding: 0 10px 0 45px;
    border: none;
    border-radius: 30px;
    outline: none;
    transition: .2s ease;
}
.input-field:hover, .input-field:focus{
    background: rgba(255,255,255,0.25);
}
::-webkit-input-placeholder{
    color: #fff;
}
.input-box i{
    position: relative;
    top: -35px;
    left: 17px;
    color: #fff;
}
.submit{
    font-size: 15px;
    font-weight: 500;
    color: #000;
    height: 45px;
    width: 100%;
    border: none;
    border-radius: 30px;
    outline: none;
    background: rgba(255,255,255,0.7);
    cursor: pointer;
    transition: .3s ease-in-out;
}
.submit:hover{
    background: rgba(255,255,255,0.5);
    box-shadow: 1px 5px 7px 1px rgba(255,255,255,0.2);
}
.two-col{
    display: flex;
    justify-content: space-between;
    color: #fff;
    font-size: small;
    margin-top: 10px;
}
.two-col .one{
    display: flex;
    gap: 5px;
}
.two label a{
    text-decoration: none;
    color: #fff;
}
.two label a:hover{
    text-decoration: underline;
}